

/* Whole body and Page wrapper  */
body {
	background-image: url(../img/background_img.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#page_wrapper {
	background-color: rgba(251, 249, 255, 0.7);
	margin-right: auto;
	margin-left: auto;
	max-width:1600px;
	top: 0px;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 4px;
}

/* Title */
#title_container {
	text-align: center;
	padding: 10px;
}

h1 {
	margin: 0;
}


/* Game options: buttons, inputs & range */
.game_values {
	display: inline;
}
#reset_game {
	display: none;
}

#speed_options {
	display: none;
}

#game_table {
	text-align: center;
	width: 600px;
	border-collapse: collapse;
}

#game_table th, td{
	border: 2px solid;
}

button:disabled {
	background-color: greenyellow;
}










/* RESPONSIVE BEHAVIOUR */

/* For mobile phones: */
[class*="col"] {
	width: 100%;
	float: left;
	padding: 15px;
  }
  
  @media only screen and (min-width: 600px) {
	  /* For tablets: */
	  .colt1 {width: 8.33%;}
	  .colt2 {width: 16.66%;}
	  .colt3 {width: 25%;}
	  .colt4 {width: 33.33%;}
	  .colt5 {width: 41.66%;}
	  .colt6 {width: 50%;}
	  .colt7 {width: 58.33%;}
	  .colt8 {width: 66.66%;}
	  .colt9 {width: 75%;}
	  .colt10 {width: 83.33%;}
	  .colt11 {width: 91.66%;}
	  .colt12 {width: 100%;}
  
	  #navigation-buttons {
		  display: block;
	  }
  }
  
  @media only screen and (min-width: 768px) {
	  /* For desktop: */
	  .col1 {width: 8.33%;}
	  .col2 {width: 16.66%;}
	  .col3 {width: 25%;}
	  .col4 {width: 33.33%;}
	  .col5 {width: 41.66%;}
	  .col6 {width: 50%;}
	  .col7 {width: 58.33%;}
	  .col8 {width: 66.66%;}
	  .col9 {width: 75%;}
	  .col10 {width: 83.33%;}
	  .col11 {width: 91.66%;}
	  .col12 {width: 100%;}
  
	  #navigation-buttons {
		  display: block;
	  }
  }