



























/* RESPONSIVE BEHAVIOUR */

/* For mobile phones: */
[class*="col"] {
	width: 100%;
	float: left;
	padding: 15px;
  }
  
  @media only screen and (min-width: 600px) {
	  /* For tablets: */
	  .colt1 {width: 8.33%;}
	  .colt2 {width: 16.66%;}
	  .colt3 {width: 25%;}
	  .colt4 {width: 33.33%;}
	  .colt5 {width: 41.66%;}
	  .colt6 {width: 50%;}
	  .colt7 {width: 58.33%;}
	  .colt8 {width: 66.66%;}
	  .colt9 {width: 75%;}
	  .colt10 {width: 83.33%;}
	  .colt11 {width: 91.66%;}
	  .colt12 {width: 100%;}
  
	  #navigation-buttons {
		  display: block;
	  }
  }
  
  @media only screen and (min-width: 768px) {
	  /* For desktop: */
	  .col1 {width: 8.33%;}
	  .col2 {width: 16.66%;}
	  .col3 {width: 25%;}
	  .col4 {width: 33.33%;}
	  .col5 {width: 41.66%;}
	  .col6 {width: 50%;}
	  .col7 {width: 58.33%;}
	  .col8 {width: 66.66%;}
	  .col9 {width: 75%;}
	  .col10 {width: 83.33%;}
	  .col11 {width: 91.66%;}
	  .col12 {width: 100%;}
  
	  #navigation-buttons {
		  display: block;
	  }
  }