/* VARIABLES  */

:root {
	--test-variable: red;
}


/* RESPONSIVE BEHAVIOUR */

* {
	box-sizing: border-box;
}

.row {
	overflow: hidden;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

/* For mobile phones: */

[class*="col"] {
	float: left;
	/* border: red solid 1px; */
}

.col1 {width: 8.33%;}
.col2 {width: 16.66%;}
.col3 {width: 25%;}
.col4 {width: 33.33%;}
.col5 {width: 41.66%;}
.col6 {width: 100%;}
.col7 {width: 100%;}
.col8 {width: 66.66%;}
.col9 {width: 100%;}
.col10 {width: 100%;}
.col11 {width: 100%;}
.col12 {width: 100%;}

  
@media only screen and (min-width: 600px) {
	/* For tablets: */
	.colt1 {width: 8.33%;}
	.colt2 {width: 16.66%;}
	.colt3 {width: 25%;}
	.colt4 {width: 33.33%;}
	.colt5 {width: 41.66%;}
	.colt6 {width: 50%;}
	.colt7 {width: 58.33%;}
	.colt8 {width: 66.66%;}
	.colt9 {width: 75%;}
	.colt10 {width: 83.33%;}
	.colt11 {width: 91.66%;}
	.colt12 {width: 100%;}
}
  
@media only screen and (min-width: 768px) {
	/* For desktop: */
	.col1 {width: 8.33%;}
	.col2 {width: 16.66%;}
	.col3 {width: 25%;}
	.col4 {width: 33.33%;}
	.col5 {width: 41.66%;}
	.col6 {width: 50%;}
	.col7 {width: 58.33%;}
	.col8 {width: 66.66%;}
	.col9 {width: 75%;}
	.col10 {width: 83.33%;}
	.col11 {width: 91.66%;}
	.col12 {width: 100%;}
}


/* ///////////////////////////////////////////////////////////////////// */



/* Whole body and Page wrapper  */

body {
	background-image: url(../img/background_img.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Merriweather', serif;
	text-align: center;
	margin-top: 1.5vh;
	margin-bottom: 1.5vh;
	margin-left: 1.5vw;
	margin-right: 1.5vw;
}

#page_wrapper {
	background-color: rgba(251, 249, 255, 0.6);
	margin-right: auto;
	margin-left: auto;
	max-width:1600px;
	top: 0px;
	min-height: 96vh;
	padding-right: 1vw;
	padding-left: 1vw;
	border-radius: 1vw;
	overflow: scroll; 
}

#page_wrapper::after {
	clear: both;
}


/* Title */

#title_container {
	text-align: center;
	padding: 5px;
	font-size: calc(2vw + 2px);
}

h1 {
	margin: 0;
	text-transform: uppercase;
	/* color: rgb(105, 32, 32); */
}


/* Chart */

#canvas_conatiner {
	position: relative;
}

#canvas_message {
	position: absolute;
	width: 92vw;
	top: 25vh;
	color: rgb(68, 68, 68);
	text-align: center;
	font-size: 2.5vh;
	animation-name: periodicfading;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
}

@keyframes periodicfading {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.3;
    }
}

#myChart {
	width: 100%;
	border-radius: 2vw;
	max-height: 50vh;
	aspect-ratio: 1/1;
	background-color: white;
	background-color: rgb(230, 230, 230, 0.7);;
}


/* DIVs and positioning */

#game_options {
	padding-top: 1vh;
	display: flex;
	justify-content: center;
	min-height: 40vh;
	flex-direction: column;
	flex-wrap: wrap;
	overflow: scroll;
}

#no_rounds, #no_players, #no_speed {
	width: 100%;
}

#players_options {
	text-align: center;
}

#rounds_options {
	text-align: center;
}


#num_players, #num_rounds {
	font-size: 5vw;
	min-width: 5.5vw;
}


/* Game table */

#game_table {
	margin: 0;
	margin-top: 1vh;
	margin-bottom: 1vh;
	padding: 0;
	position: relative;
	overflow: hidden;
}

#wait_players_message {
	position: absolute;
	width: 100%;
	top: 15vh;
	color: rgb(0, 40, 0);
	text-align: center;
	font-size: 2vh;
	animation-name: periodicfading;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
}

@keyframes periodicfading {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.3;
    }
}

#wait_players {
	width: 100%;
	border-radius: 0vh 0vh 1vh 1vh;
	background-color: rgb(200, 230, 200, 0.8);
	height: 30vh;
	max-height: 30vh;
	width: 100%;
}

.table_header{
	background-color: rgb(40, 108, 0);
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
	color: white;
	width: 100%;
	border-radius: 1vh 1vh 0 0;
	overflow: hidden;
}

.table_row {
	background-color: rgb(200, 250, 200);
	margin-top: 0.2vh;
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
	width: 100%;
	border: 1px solid rgb(0, 48, 0);
	border-radius: 0.7vh;
	overflow: hidden;
}

.table_names {
	width: 60%;
	float: left;
}

.table_scores {
	width: 40%;
	float: left;
}


/* Game options: buttons, inputs & range */

#game_options button {
	background-color: green;
	color: white;
	font-weight: 700;
	text-align: center;
	border: 0;
	width: 10vw;
	height: 10vw;
	border-radius: 50%;
}

#game_buttons {
	text-align: center;	
	margin-top: 1.5vh;
}

#game_buttons button{
	border-radius: 1vw;
	margin-top: 1.5vh;
	width: 90%;
	font-size: min(3.8vw, 20px);
}

#run_game:disabled, #reset_game:disabled {
	background-color: rgb(193, 255, 127);
}

.game_values {
	display: inline-block;
}

#run_game {
	margin-bottom: 1vh;;
}

#reset_game {
	display: none;
}

#speed_options {
	display: none;
}

#no_speed {
	color:rgb(0, 40, 0);
	font-size: 4vw;
}

#speed_bar {
	height: 17vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#game_speed {
	-webkit-appearance: none;
	-moz-appearance: none;
	transform: rotate(90deg);
	background: linear-gradient(to left, rgb(0, 160, 0), rgb(0, 80, 0));
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	border-radius: 1vw;
	height: 3vw;
	width: 16vh;
	margin-bottom: -1vh;
  }
  
#game_speed:hover {
	opacity: 1;
  }

#game_speed::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	background: #04AA6D;
	cursor: pointer;
	height: 6vw;
	width: 6vw;
  }
  
#game_speed::-moz-range-thumb {
	background: #04AA6D;
	cursor: pointer;
  }

